# external requirements
fbprophet==0.7.1
numpy==1.19.2
neuralprophet==0.2.7
tqdm==4.50.2
pandas==1.1.3
catboost==0.26
keras==2.4.3
lightgbm==3.2.1
pytorch_forecasting==0.9.0
pytorch_lightning==1.3.8
scikit_learn==0.24.2
statsmodels==0.12.2
xgboost==1.4.2
geneal



#local package
-e .